.cover {
    background-image: url(../images/cover.png);
    margin: 92px;
    max-width: 1184px;
    padding: 243px 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.cover::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease-out;
}

.cover:hover::after {
    background-color: rgba(42, 44, 47, 0.8);
}

.cover__group {
    text-align: center;
    padding: 20% 0px;
    line-height: 1.5;
    z-index: 3;
}

.cover__group-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
}

.cover__group-subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.cover__group-btn {
    padding: 13px 20px;
    width: 116px;
    background: #0278FE;
    border-radius: 4px;
    height: 20px;
    margin: 0 auto;
}

.cover__group-btn-link {
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .cover {
        margin: auto 0;
        padding: 0;
    }
    .cover:hover {
        margin: auto 0;
        padding: 0;
    }
    .cover__group {
        padding: 31% 0px;
        width: 93.8vw;
    }
    .cover__group-title {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        color: #FFFFFF;
        margin: 0;
    }
    .cover__group-subtitle {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #FFFFFF;
        margin: auto;
    }
    .cover__group-btn {
        padding: 13px 20px;
        width: 137px;
        background: #0278FE;
        border-radius: 4px;
        height: 48px;
        margin: 0 auto;
    }
    .cover__group-btn-link {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 45px;
        color: #FFFFFF;
        text-decoration: none;
    }
}

@media only screen and (max-width:320px) {
    .cover {
        margin-top: 64px;
        padding: 28px 20vw;
        gap: 16px;
        margin: auto;
    }
    .cover__group-title {
        font-size: 32px;
        line-height: 1.09;
    }
    .cover__group-subtitle {
        font-size: 14px;
        line-height: 1.14;
    }
    .cover__group-btn {
        font-size: 18px;
        line-height: 1.22;
    }
}