.cover {
    background-image: url(../images/cover.png);
    margin: 92px auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.cover::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease-out;
}

.cover__group-subtitle-p {
    margin: 0;
}

.cover:hover::after {
    background-color: rgba(42, 44, 47, 0.8);
}

.cover__group {
    text-align: center;
    padding: 20% 0px;
    line-height: 1.5;
    z-index: 3;
}

.cover__group-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

.cover__group-subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 32px 0;
    z-index: 3;
    position: relative;
}

.cover__group-btn-link {
    font-family: 'Inter', Arial, sans-serif;
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 4px;
    border: none;
    background-color: #0278fe;
    color: #fff;
    transition: all 0.2s ease-out;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .cover {
        width: 100%;
    }
    .cover__group {
        padding: 31% 0px;
        width: 93vw;
    }
    .cover__group-title {
        color: #FFFFFF;
    }
    .cover__group-subtitle {
        color: #FFFFFF;
        margin: auto;
    }
    .cover__group-btn-link:hover {
        background-color: #0063d2;
    }
}

@media only screen and (max-width:320px) {
    .cover {
        margin-top: 64px;
        padding: 28px 20vw;
        gap: 16px;
        height: 254px;
    }
    .cover__group-title {
        font-size: 16px;
        line-height: 1.09;
    }
    .cover__group-subtitle {
        font-size: 18px;
        line-height: 22px;
        margin: 16px 0;
        padding: 0;
    }
    .cover__group-btn {
        font-size: 18px;
        line-height: 1.22;
    }
}