.lead {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.lead__title {
    max-width: 800px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 16px;
    line-height: 1.04;
}

.lead__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    max-width: 720px;
    text-align: center;
    margin: 0 auto 64px;
    line-height: 1.2;
    padding: 0 24px;
}

.lead__image {
    max-width: 984px;
    width: 100%;
    margin-bottom: 92px;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .lead__title {
        font-size: 8.587vw;
        margin: 0;
        padding: 0px 24px 0px 24px;
        line-height: 100px;
    }
    .lead__subtitle {
        padding: 45px 2vw 40px 2vw;
    }
    .lead__image {
        height: 480px;
        margin-bottom: 88px;
    }
}

@media only screen and (max-width:320px) {
    .lead {
        margin-bottom: 64px;
    }
    .lead__title {
        padding-top: 30px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        margin: 0 auto 16px;
    }
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding: 0px 16px 40px 16px;
        margin: 0 auto;
    }
    .lead__image {
        margin: auto 0;
    }
}