.photo-grid {
    margin: 0 auto;
}

.photo-grid__list {
    list-style-type: none;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 16px;
    column-gap: 16px;
    margin: 0 auto;
    padding: 0;
}

.photo-grid__photo {
    width: 100%;
    max-width: 284px;
    max-height: 213px;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
    }
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .photo-grid__photo {
        height: 100%;
        padding-bottom: 12px;
    }
}

@media only screen and (max-width:320px) {
    .photo-grid {
        padding: 0px 48px 0;
    }
    .photo-grid__list {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .photo-grid__photo {
        margin: 0;
        width: auto;
        max-width: none;
        max-height: none;
    }
}