@media only screen and (min-width: 769px) {
    .intro {
        max-width: 984px;
        margin: 0 auto 118px;
    }
    .intro__title {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 3.294691885295912vw;
        color: #FFFFFF;
        line-height: 1.07;
        padding-top: 92px;
    }
    .intro__text {
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    .intro__quote {
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.7vw;
        line-height: 2.4vw;
    }
    .intro__author {
        margin: 0;
        direction: rtl;
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    .intro__discription {
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.7vw;
        line-height: 2.7vw;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .intro {
        padding: 0px 24px 0px 24px;
    }
    .intro__title {
        font-size: 4vw;
        color: #FFFFFF;
        line-height: 6.44216691068814vw;
        padding: 92px 16px 40px 16px;
    }
    .intro__quote {
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.7vw;
        line-height: 2.4vw;
    }
    .intro__author {
        direction: rtl;
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    .intro__discription {
        color: #FFFFFF;
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.7vw;
        line-height: 2.7vw;
    }
}

@media only screen and (max-width:320px) {
    .intro {
        padding: 0px 24px 0px 24px;
    }
    .intro__title {
        width: 100%;
        font-size: 32px;
        color: #FFFFFF;
        line-height: 35px;
        padding: 64px 0px 40px 0px;
    }
    .intro__text {
        font-size: 52px;
        line-height: 44px;
        width: 755px;
        color: #ffff;
    }
    .intro__author {
        font-family: 'Inter', Arial, sans-serif;
        color: #FFFFFF;
        direction: rtl;
    }
    .intro__quote {
        font-family: 'Inter', Arial, sans-serif;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 30px;
    }
    .intro__discription {
        font-family: 'Inter', Arial, sans-serif;
        color: #FFFFFF;
        font-size: 1.7569546120058566vw;
        line-height: 2.1961932650073206vw;
    }
}