.page {
    font-family: "Inter", Arial, sans-serif;
    background-color: #2A2C2F;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #fff;
}

@media only screen and (max-width:320px) {
    .page {
        max-width: 320px;
    }
}